h4.card-heading {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #D85B00;
    background: #fff;
    // padding: 10px 15px;
    border-radius: 3px;
    font-weight: 600;
}

.mat-icon-button {
    padding: 0;
    min-width: 0;
    width: 40px;
    height: 40px;
    background-color: antiquewhite;
    flex-shrink: 0;
    line-height: 40px;
     border-radius: 0%; 
}



.mat-btn{

background-color: #FCE101;
border-color: #FCE101;
color: #000;
}

.mat-btn:hover {
    background-color: #007bff;
border-color: #007bff;
color: #fff;

  }
  .form-group{margin-bottom:1rem}
  .required{
    color: red;
}
  span.validation_msg{
    color: #fd021b;
    margin-top: 10px;
    font-size: 12px;
}

input#image {
    width: 100%;
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-shadow: 1px 1px 1px #ccc;
}